#wrapper #enrollment_personal_section {
  margin-bottom: 25px;
}
#wrapper #enrollment_personal_section form {
  background-color: #ffffff;
  min-height: 100px;
  padding: 0px;
  box-shadow: 0px 0px 5px #cecece;
}
#wrapper #enrollment_personal_section #leave_credentials_container {
  display: block;
  width: 100%;
  min-height: 180px;
  padding: 25px;
  padding-bottom: 10px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container {
  display: inline-block;
  vertical-align: top;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container img {
  border-radius: 50%;
  border: 5px solid #ffefd4;
  display: inline-block;
  vertical-align: top;
  height: 120px;
  width: 120px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container .user_profile_summary {
  width: 505px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container .user_profile_summary .dib {
  width: 222px;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container .user_profile_summary .user_name {
  font-size: 18px;
  font-family: ProximaNova_Bold;
  margin: 0px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container .user_profile_summary .user_year_level {
  margin-bottom: 20px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container .user_profile_summary .sub_label {
  width: 85px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container .user_profile_summary h4 {
  margin: 0px;
  font-size: 16px;
  font-family: ProximaNova_Regular;
  color: #6e6e6e;
  display: inline-block;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container .user_profile_summary h4.pull-right {
  margin-top: 2px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container .user_profile_summary .user_agency {
  margin-bottom: 20px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container #enrollment_notification_container {
  width: 445px;
  height: 77px;
  background-color: #fc5e5e;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  display: none;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container #enrollment_notification_container .glyphicon-ok-circle {
  color: white;
  font-size: 50px;
  margin-top: 14px;
  margin-left: 10px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container #enrollment_notification_container .notification_text_container {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container #enrollment_notification_container .notification_text_container h3 {
  font-size: 19px;
  color: white;
  font-family: ProximaNova_Bold;
  margin-bottom: 0px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #user_profile_summary_container #enrollment_notification_container .notification_text_container h4 {
  font-size: 14px;
  color: white;
  font-family: ProximaNova_Regular;
  margin-top: 6px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container {
  display: inline-block;
  vertical-align: top;
  width: 580px;
  margin-left: 80px;
  height: 100%;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container .leave_questions_item {
  width: 180px;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container .leave_questions_item .bootstrap-select {
  width: 170px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container .leave_questions_item .bootstrap-select .btn {
  border: 1px solid #bbbbbb ;
  padding: 4px 12px 1px 12px ;
  border-radius: 0px ;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container .leave_questions_item .bootstrap-select .btn * {
  font-family: ProximaNova_Regular ;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container .leave_questions_item .bootstrap-select .btn .caret {
  color: #fc5e5e;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container .leave_questions_item label {
  display: block;
  vertical-align: top;
  font-family: ProximaNova_Regular;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: normal;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container #number_of_days_input {
  border: 1px solid #bbbbbb ;
  padding: 3px 9px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container #days_dates_container .inclusive_dates_datepicker_label {
  margin-top: 15px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container #commutation_container {
  width: 152px;
  margin-right: 0px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container #commutation_container #commutation_list li:first-child {
  margin-bottom: 10px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container #type_of_leave_container .bootstrap-select {
  margin-bottom: 10px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container #type_of_leave_container .leave_conditions {
  width: 100%;
  min-height: 20px;
  display: block;
  margin-bottom: 5px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container #type_of_leave_container .leave_conditions li input {
  border: 1px solid #bbbbbb;
  padding: 3px 9px;
  width: 160px;
  margin-left: 10px;
  margin-top: 10px;
}
#wrapper #enrollment_personal_section #leave_credentials_container #leave_questions_container #type_of_leave_container #others_leave_condition input {
  width: 170px;
  margin-left: 0px;
  margin-top: 28px;
}
#wrapper #available_subjects {
  margin-bottom: 30px !important;
}
.table_container {
  padding: 0px 20px 20px 20px !important;
}
table.table {
  padding: 0px 10px;
  max-width: 100%;
}
table.table.table_with_buttons tbody tr td .bootstrap-select {
  width: 130px !important;
}
table.table.table_with_buttons tbody tr td .bootstrap-select .btn {
  border: 1px solid #bbbbbb !important;
  border-radius: 0px;
  height: 30px !important;
}
table.table.table_with_buttons tbody tr td .bootstrap-select .error_border {
  border: 1px solid #fc5e5e !important;
}
table.table.table_with_buttons tbody tr td .bootstrap-select .dropdown-toggle .caret {
  color: #fc5e5e !important;
}
table.table tbody tr {
  height: 50px;
}
table.table tbody tr td {
  height: 50px;
}
table.table tbody tr td.enroll_button_container {
  background-color: #ffffff !important;
  padding: 0px !important;
  color: #fc5e5e !important;
  font-size: 16px !important;
}
table.table tbody tr td.enroll_button_container * {
  color: #fc5e5e !important;
  font-size: 16px !important;
}
table.table tbody tr td.enroll_button_container *:hover {
  color: #ffffff !important;
}
table.table tbody tr td.enroll_button_container button {
  width: 140px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fc5e5e;
  color: #fc5e5e;
  font-family: ProximaNova_Regular;
  font-size: 16px;
}
table.table tbody tr td.enroll_button_container button.enrolled_button {
  background-color: #1ea98d !important;
  color: white !important;
  border-color: #1ea98d !important;
  padding: 0px !important;
}
@media (max-width: 800px) {
  table.table tbody tr td.enroll_button_container {
    width: 150px !important;
  }
  table.table tbody tr td.enroll_button_container button {
    float: right;
    width: 80px !important;
    height: 60px !important;
    padding: 0px;
  }
}
