.recent_append_bg {
  background-color: #fec2c2 !important;
}
#wrapper #available_leave_section {
  margin-bottom: 25px;
  position: relative;
}
#wrapper #apply_leave_form_button_container {
  padding: 0px;
  position: relative;
  height: 30px;
  margin-bottom: 25px;
}
#wrapper #apply_leave_form_button_container .user_btn {
  padding: 5px 25px;
}
#wrapper #apply_leave_form_button_container button {
  position: absolute;
  right: 0px;
}
#wrapper #apply_leave_form_button_container button .glyphicon-plus {
  margin-right: 10px;
}
#wrapper #leave_form_section {
  display: none;
}
#wrapper #leave_form_section form #leave_credentials_container #leave_questions_container #type_of_leave_container .leave_conditions {
  display: none;
}
#wrapper #leave_form_section form #leave_credentials_container #leave_questions_container #type_of_leave_container .specify_leave_input {
  display: none;
}
#wrapper #leave_form_section form #leave_credentials_container #leave_questions_container #type_of_leave_container #others_leave_input {
  display: block !important;
}
#wrapper #leave_history_section {
  margin-bottom: 25px !important;
}
#wrapper #leave_application_modal .modal-dialog .modal-content .modal-header {
  background-color: #fc5e5e;
  height: 100px;
  text-align: center;
}
#wrapper #leave_application_modal .modal-dialog .modal-content .modal-header .close {
  opacity: 0.6;
}
#wrapper #leave_application_modal .modal-dialog .modal-content .modal-header .close span {
  color: white;
}
#wrapper #leave_application_modal .modal-dialog .modal-content .modal-header .close:hover {
  opacity: 1;
}
#wrapper #leave_application_modal .modal-dialog .modal-content .modal-header .glyphicon-ok-circle {
  color: #ffffff;
  font-size: 60px;
  margin-top: 4px;
}
#wrapper #leave_application_modal .modal-dialog .modal-content .modal-body {
  text-align: center;
  height: 380px;
}
#wrapper #leave_application_modal .modal-dialog .modal-content .modal-body h3 {
  font-family: Proximanova_Bold;
  color: #fc5e5e;
  width: 270px;
  display: inline-block;
  line-height: 40px;
  margin-top: 60px;
}
#wrapper #leave_application_modal .modal-dialog .modal-content .modal-body span {
  display: block;
  color: #6e6e6e;
  font-family: Proximanova_Regular;
  font-size: 16px;
  width: 200px;
  margin: 0px auto;
  margin-top: 20px;
}
#wrapper #leave_application_modal .modal-dialog .modal-content .modal-body #leave_confirmation_button {
  width: 380px;
  height: 50px;
  margin-top: 55px;
}
/*  ADMIN  */
/* Leave Management */
#admin_pending_leave_request_section {
  margin-bottom: 30px;
}
#admin_pending_leave_request_section .container {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
#admin_pending_leave_request_section .container .table_head_fixer_container {
  height: 250px;
}
#admin_pending_leave_request_section .container table tbody tr td:nth-child(1) {
  text-align: left !important;
  color: #1ea98d !important;
  cursor: pointer;
}
#admin_pending_leave_request_section .container table tbody tr td .dropdown-toggle {
  color: #ffffff !important;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: .5px;
}
#admin_pending_leave_request_section .container table tbody tr td .dropdown-toggle * {
  color: #ffffff !important;
}
#admin_pending_leave_request_section .container table tbody tr td[data-leave-value="0"] .dropdown-toggle {
  background-color: #f3aa53 !important;
}
#admin_pending_leave_request_section .container table tbody tr td[data-leave-value="1"] .btn {
  background-color: #1ea98d !important;
}
#admin_pending_leave_request_section .container table tbody tr td[data-leave-value="2"] .btn {
  background-color: #fc5e5e !important;
}
@media (max-width: 800px) {
  #admin_pending_leave_request_section .table_head_fixer_container {
    height: 416px !important;
  }
  #admin_pending_leave_request_section .container table tbody tr td .dropdown-toggle {
    height: 35px !important;
  }
  #gate_management_section table tbody {
    max-height: 286px;
  }
}
